<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <style>
        *{box-sizing: border-box;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
        body{padding: 0;margin: 0;}
    </style>
    <%- include('partials/menu') %>
    
 <div style="display: flex;width: 100%;justify-content: center;height: auto;">
    <img src="/images/IMG-20210603-WA0006.jpg" style="display: block;width:31%;">
    <div style="width: 70%;padding: 2%;">
        <h2 style="text-align: center;">about</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos ipsam odio reprehenderit voluptatem a illo quo reiciendis libero dolorem laboriosam quisquam iusto, veniam fuga corporis tempore vel perferendis. Harum, recusandae.
        Sequi fuga sunt sed vitae inventore velit suscipit magni! Repudiandae non ea officia fugit reprehenderit itaque animi modi quisquam aut veniam, provident reiciendis eos architecto excepturi optio, labore, harum assumenda?
        Quas molestias delectus non iure omnis nemo. Aliquam ex assumenda consequatur eligendi. Eius laboriosam aliquid voluptates error velit sit, vitae temporibus. Rerum illum optio nemo totam atque, fuga porro quam? </p>
 
       <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo accusantium neque delectus totam ipsa recusandae temporibus nam laborum porro maxime. Eligendi officiis magnam harum repellat reprehenderit earum, voluptates voluptatum laudantium!
       Perspiciatis sunt illo sequi fugiat eius, commodi, eligendi dolor in, harum est aperiam. Consequatur, voluptatibus facere autem temporibus velit voluptates error ipsam quos sequi quis? Explicabo aspernatur fugit minima obcaecati?
       Libero adipisci placeat iure repellat, minus quisquam quia odit sit doloribus animi excepturi iusto commodi temporibus quo quod asperiores autem quam? Qui sint delectus maiores expedita animi eveniet eius ratione?
       Reprehenderit, mollitia rem aut accusamus vero a! Officia perferendis doloribus dicta ad quos fugiat voluptatibus exercitationem, accusantium a quidem facilis vero consectetur dignissimos, necessitatibus error aliquid maxime nulla? Consequuntur, ipsum?   </p>
    </div>
    
 </div>
</body>
</html>