<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <style>
        *{box-sizing: border-box;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
        body{padding: 0;margin: 0;}
    </style>
    <%- include('partials/menu') %>
    
 <div style="display: flex;width: 100%;justify-content: center;height: auto;">
    <img src="/images/IMG-20210611-WA0003.jpg" style="display: block;width:31%;">
    <div style="width: 70%;padding: 2%;">
        <h2 style="text-align: center;">about</h2>
        <p>Construction Boys is a swati owned company strongly commitedd to providing customers 
        with the highest level of services in the Construction industry. Building and maintaining relationships with 
    our customers is at the heart of of our bussiness and we a planning and management style that is consultative 
and systematic </p>
 
       <p> We believe in a proactive approach to all aspects of our bussiness, but in particular to qualify, safety
           and delivery. By getting this right, we give our customers confidence and peace of mind during the 
           process of planning, design and Construction. The hands-on responsibilities and team approach of company
           director Mncedisi Lulane underpins our organisation with a powerful proven synergy. 
       </p>
    </div>
    
 </div>
</body>
</html>