<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>

<body>
    <style>
        .contact-page {
            display: grid;
            grid-template-columns: 1.9fr 1fr;
            grid-template-rows: 5fr 1fr;
            grid-template-areas: "image physical_address"
                "contact_details"
            ;
            height: 100vh;
        }

        .details ul li ,.contact ul li{
            list-style-type: none;
        }
        @media only screen and (max-width:300px){
            .contact-page {
                grid-template-rows: 5fr 1fr 1fr;
            grid-template-areas: "image "
            "physical_address"
                "contact_details"
         }
        }
    </style>
    <%- include('partials/menu') %>
    <div class="contact-page">
        <div class="img">
            <img src="/images/shutterstock_285300212.jpg" style="height: 70vh;width: 100%;"></div>
        <div class="details">
            <ul>
                <li>Daveyton</li>
                <!-- <li>2<sup>nd</sup> Floor Office 2078</li> -->
                <li><br></li>
                <li>P.O Box 1520</li>
                <li>Sabata</li>
                <li><br></li>
                <li>contructioncompany@gian.com</li>
                <li><br></li>
                <li>000 000 000</li>

            </ul>
        </div>
        <div class="contact"> 
            <h1>Banking Details</h1>
            <ul>   
                <li>Acc Name : Gian Projects</li>
                <li>First National Bank</li>
                <li>lorem</li>
                <li>Acc No : 000 000 000</li>
                <li>Branch code : 281064</li>
            </ul> </div>
    </div>
    <!--  -->
</body>

</html>