<!DOCTYPE html>
<html>

<head>
 
    <link rel="stylesheet" href="stylesheets/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
<%- include('partials/menu') %>
    <div>
<img src="/images/IMG-20210603-WA0006.jpg"  class="logo" style="height: 40vw;">
<div class="page" >
    <img src="images/Construction-Workersafety.jpg" style="display : block ; width: 100%; height: 50vw;">
<div style="padding: 35px; font-size: 1 rem;">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, minima aut. Facilis veritatis aut provident iusto vel sapiente alias, maiores sunt quia voluptates delectus cum sit ipsa vitae consectetur velit.
    Fugit sapiente voluptate officiis reiciendis voluptatem neque sequi laborum placeat hic ratione ullam quia, odio distinctio perspiciatis. Distinctio voluptatibus architecto quo amet explicabo laudantium et eveniet officiis, exercitationem, facilis adipisci.
    Tempora illum optio numquam quaerat ipsam error accusamus pariatur, corporis vel quidem ipsum quam nihil maiores et debitis accusantium animi. Optio repellat ea maiores? Ratione iure deleniti laborum deserunt sunt.
    </p>
</div>
</div>
    
    
</body>

</html>