<!DOCTYPE html>
<html>

<head>
 
    <link rel="stylesheet" href="stylesheets/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
<%- include('partials/menu') %>
    <div>
<img src="/images/IMG-20210603-WA0006.jpg"  class="logo">
<div class="page" >
    <img src="images/Construction-Workersafety.jpg" style="display : block ; width: 100%; height: 50vw;">
<div style="padding: 35px; font-size: 1 rem;">
    <p>Our Mission Statement is to provide a comprehensive construction service that will always exceed our
        customers expectations. Competetive pricing, on-time delivery, seemless co-ordination and attention to detail
        will be key on every job we put our name on. 
    </p>
</div>
</div>
    
    
</body>

</html>