<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>

    <div class="topnav">
        <a class="active" href="#home"> <img src="images/icon-menu-512.png" id="menu"></a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>

    <div>

        <img src="images/Construction-Workersafety.jpg" style="display : block ; width: 100%; height: 50vw;">
    </div>
    <div style="padding: 35px; font-size: 1 rem;">
        <p>Our Mission Statement is to provide a comprehensive construction service that will always exceed our
            customers expectations. Competetive pricing, on-time delivery, seemless co-ordination and attention to detail
            will be key on every job we put our name on. 
        </p>
    </div>
    
</body>

</html>