<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>

<style>
    
    table ,th ,tr ,td {
        border: 1px solid rgb(110, 108, 108);
        border-collapse:collapse; 
        padding: 5px;           
    }
    table{
        
        margin: auto;
        width: 80%;
    }
    tr:nth-child(even){
        background-color: rgba(97, 89, 89, 0.507);
    }
     
    
</style>
<body>
  <%- include('partials/menu') %>
    <h3 style="text-align: center;">COMPLETED PROJECTS</h3>
   
    <table>
        <tr>
            <th>Project</th>
            <th>Client</th>
            <th>Contact Person</th>
        </tr>
        <tr>
            <td>Fencing</td>
            <td>Lukhozi Construction</td>
            <td>Ncamiso Mabaso 7855 1826</td>
        </tr>
  <tr>
      <td>Fencing </td>
      <td>Ezulwini Municipality </td>
      <td>Lucas Mbembe 7647 9217</td>
  </tr>
  <tr>
      <td>Step Drain </td>
      <td>Ezulwini Municipality </td>
      <td>Lucas Mbembe 7647 9217</td>
  </tr>
  <tr>
      <td>Trapezoidal Drain</td>
      <td>Ezulwini Municipality</td>
      <td>Lucas Mbembe 7647 9217</td>
  </tr>
  <tr>
      <td>Car ports</td>
      <td>Theo Dlamini</td>
      <td>Theo Dlamini 7621 4561</td>
  </tr>
  <tr>
      <td>V Drain</td>
      <td>Inyatsi Construction (S2013)</td>
      <td>Mphumelelo 7827 1913</td>
  </tr>
  <tr>
    <td>Fencing</td>
    <td>Inyatsi Construction (S2013)</td>
    <td>Mphumelelo 7827 1913</td>
  </tr>
  <tr>
    <td>Stone Pitching</td>
    <td>Inyatsi Construction (S2013)</td>
    <td>Mphumelelo 7827 1913</td>
  </tr>
  <tr>
    <td>Walkways</td>
    <td>Inyatsi Construction (S2013)</td>
    <td>Mphumelelo 7827 1913</td>
  </tr>
  <tr>
    <td>Double storey</td>
    <td>Inyatsi Construction (S2013)</td>
    <td>Mphumelelo 7827 1913</td>
  </tr>
  <tr>
    <td>Supply, Fabricated and <br> install Tank 
        with necessary plumbing
    </td>
    <td>Inyatsi Construction (S2013)</td>
    <td>Mphumelelo 7827 1913</td>
  </tr>
  <tr>
    <td>Supply, Fabricated and <br> install Tank 
        with necessary plumbing
    </td>
    <td>Inyatsi Construction (S2013)</td>
    <td>Mphumelelo 7827 1913</td>
  </tr>
  <tr>
    <td>Supply, Fabricated and <br> install Tank 
        with necessary plumbing
    </td>
    <td>Inyatsi Construction (S2013)</td>
    <td>Mphumelelo 7827 1913</td>
  </tr>
  <tr>
    <td>Supply, Fabricated and <br> install Tank 
        with necessary plumbing
    </td>
    <td>Inyatsi Construction (S2013)</td>
    <td>Mphumelelo 7827 1913</td>
  </tr>
  <tr>
    <td>Private Residence <br> Double Storey</td>
    <td>Inyatsi Construction (S2013)</td>
    <td>Mphumelelo 7827 1913</td>
  </tr>
    </table>
</body>

</html>