<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>

<style>
    *{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    table ,th ,tr ,td {
        border: 1px solid rgb(110, 108, 108);
        border-collapse:collapse; 
        padding: 5px;           
    }
    table{
        
        margin: auto;
        width: 80%;
    }
    tr:nth-child(even){
        background-color: rgba(97, 89, 89, 0.507);
    }
     
    
</style>
<body>
  <%- include('partials/menu') %>
    <h3 style="text-align: center;">COMPLETED PROJECTS</h3>
   
    <table>
        <tr>
            <th>Project</th>
            <th>Client</th>
            <th>Contact Person</th>
        </tr>
        <tr>
          <td>Project</td>
          <td>Client</td>
          <td>Contact Person</td>
      </tr>
      <tr>
        <td>Project</td>
        <td>Client</td>
        <td>Contact Person</td>
    </tr>
    <tr>
      <td>Project</td>
      <td>Client</td>
      <td>Contact Person</td>
  </tr>
  <tr>
    <td>Project</td>
    <td>Client</td>
    <td>Contact Person</td>
</tr>
<tr>
  <td>Project</td>
  <td>Client</td>
  <td>Contact Person</td>
</tr>
<tr>
  <td>Project</td>
  <td>Client</td>
  <td>Contact Person</td>
</tr>
    </table>
    <br><br>
</body>

</html>