:root{
    --animation-duration: 4s ;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.logo {
    position: absolute;
    left:35%;
    display: block;
    opacity: 0;
    height: 100vh;
    animation: disappear var(--animation-duration) ease-in;
}

@keyframes disappear {
    from {
       opacity: 1;
    }

    to {
        opacity: 0;
    }
}
.page{
    display: block;
    animation: show-content var(--animation-duration) ease-in;
}
@keyframes show-content {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}